<div class="row">

	<div class="col-md-2">&nbsp;</div>
	
	<div class="col-md-8">
		<div id="postPanel" class="panel panel-default">
			<!-- Panel Heading -->
			<div class="panel-heading"><h3 class="panel-title">All Posts</h3></div>
			<!-- Panel Body -->
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<app-post-list></app-post-list>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12"> 
						<app-post-add></app-post-add>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-2">&nbsp;</div>

</div>